<div class="ax-example p-md-0 navbar-header">
    <ul  id="skiplink-nav"  tabIndex={1} class="skiplink-nav-hide" >
      <li class="skiplink"  ><a  class="skiplinkTitle" id= "skiplink1" href="#content"> Content</a></li>
      <li class= "skiplink" ><a  class="skiplinkTitle" href="#nav-individuals"> Menu</a></li>
      <li class="skiplink" ><a  class="skiplinkTitle" href='#navbar-desktop'> Component List</a></li>

    </ul>
  <div class="navbar-metaheader mx-auto d-none d-lg-flex">
    <div class="container m-auto row px-0 d-flex">
      <div class="col-5 d-none d-lg-flex d-print-block"></div>
      <div class="col-7 d-none d-lg-flex d-print-block flex-row-reverse">
        <a href="https://worldwidenews-axa.com/" target="_blank" rel="noopener noreferrer"
          class="h5 ms-3 my-auto px-3 text-dark">NEWSLETTER HUB</a><span class="nav-sep">|</span><a
          href="https://brandhub.axa.com/login/" target="_blank" rel="noopener noreferrer"
          class="h5 mx-3 my-auto px-3 text-dark">BRANDHUB</a>
      </div>
    </div>
  </div>
  <nav class="container-fluid container-lg navbar navbar-expand-lg navbar-light px-1"
    style="z-index: 10; position: relative">
    <a class="navbar-brand" href="/../../"></a>

    <div id="currentnav" class=" responsiveNav d-lg-none">
      <form  id="formSearchRes"class="navbar4-multiCollapse form-search collapse   mx-0 collapse  toggle-close ">
        <div class="input-group mx-auto">
          <input id="search-input-res" class="form-control  d-xxxl-block" placeholder="I'm looking for..."
            aria-label="Search" />
          <button class="btn btn-search  d-xxxl-block" type="button"></button>
        </div>
      </form>
      <div>
        <span class="navbar-search-toggler pe-5 ">
          <button id=nav-search-button-res class="btn collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target=".navbar4-multiCollapse,#inputsearch" aria-controls="inputsearch" aria-expanded="false"
            aria-label="Toggle search form" >
            <span class="navbar-search-toggler-icon" id="CloseDropDown"></span>
          </button>
        </span>
      </div>
      <div id = "toggle-nav">
      <button id="nav-burger"
        class="nav-menu-responsifShw    header-fixed navbar-toggler ps-3 ms-0 position-absolute collapse show"
        type="button" data-bs-toggle="collapse" data-bs-target=".nav-menu-responsifShw, #navbarDropdownShw"
        aria-controls="navbarDropdownShw navbar4_searchForm navbar4_buttonsForm" aria-expanded="false"
        aria-label="Toggle navigation" style="top: 22px ;right: 2px;">
        <span class="navbar-toggler-icon"></span></button>
        
        <button id="nav-close"
        class="nav-menu-responsifShw  header-fixed navbar-toggler collapsed ps-3 ms-0 position-absolute collapse"
        type="button" data-bs-toggle="collapse-all" data-bs-target=".nav-menu-responsifShw, #navbarDropdownShw"
        aria-controls="navbarDropdownShw" aria-expanded="false" aria-label="Toggle navigation"
        style="top: 19px ;right: 2px;">
        <i class="icon-close fs-xl"></i>
      </button>
    </div>
    </div>

    <div class="navbar-collapse  d-lg-none header-collapse toggle-close collapse" id="navbarDropdownShw" style="z-index: 3">
      <div class="tab-content navbar-header-dropdown" id="nav-tabContent">
        <div class="tab-content" id="myTabContent" data-bs-toggle="tab-drop">
          <div class="tab-pane show active nav-individuals" id="nav-individuals" role="tabpanel"
            aria-labelledby="nav-individuals-tab">


            <ul
              class="nav nav-tabs navbar-nav search-collapse  navbar4-multiCollapse  show text-uppercase me-0 m-auto flex-nowrap"
              id="TabIndividuals" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link reverse-tab d-flex justify-content-between w-100" id="individualProfile-tab"
                  href="/../../design">DESIGN<i class="d-block d-lg-none icon-east float-sm-end pe-4"></i></a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link reverse-tab d-flex justify-content-between w-100" id="individualGallery-tab"
                  href="/../../development">DEVELOPMENT<i class="d-block d-lg-none icon-east float-sm-end pe-4"></i></a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link reverse-tab d-flex justify-content-between w-100 active"
                  id="individualCOMPONENTS-tab" href="/getting-started/overview/">COMPONENTS<i
                    class="d-block d-lg-none icon-east float-sm-end pe-4"></i></a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link reverse-tab d-flex justify-content-between w-100" id="individualINSIGHT-tab"
                  href="/../../insight">INSIGHT<i class="d-block d-lg-none icon-east float-sm-end pe-4"></i></a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link reverse-tab d-flex justify-content-between w-100 text-nowrap"
                  id="individualHELP-CONTACT-tab" href="/../../contact">HELP &amp; CONTACT<i
                    class="d-block d-lg-none icon-east float-sm-end pe-4"></i></a>
              </li>
            </ul>


          </div>


          <ul class="ps-0 navbar-nav me-0 m-auto gray-100">
            <li class="nav-item d-block d-lg-none">
              <a href="https://brandhub.axa.com/login/" target="_blank" rel="noopener noreferrer"
                class="h4 mb-0 nav-link text-dark py-3">BRANDHUB</a>
            </li>
            <li class="nav-item d-block d-lg-none">
              <a href="https://worldwidenews-axa.com/" target="_blank" rel="noopener noreferrer"
                class="h4 mb-0 nav-link text-dark py-3">NEWSLETTER HUB</a>
            </li>
          </ul>
        </div>
      </div>
      <form  id="formSearch" class="navbar4-multiCollapse form-search collapse  mx-0 collapse  toggle-close ">
        <div class="input-group mx-auto">
          <input  id="search-input"  class="form-control  d-xxxl-block" placeholder="I'm looking for..." aria-label="Search" />
          <button class="btn btn-search  d-xxxl-block" type="button"></button>
        </div>
      </form>
      <div class="d-none d-lg-block">
        <span class="navbar-search-toggler ">
          <button  id=nav-search-button class="btn collapsed"  type="button" data-bs-toggle="collapse" data-bs-target=".navbar4-multiCollapse"
            aria-controls="navbar4_searchForm navbar4_buttonsForm" aria-expanded="false" aria-label="Toggle search form"
            >
            <span class="navbar-search-toggler-icon" id="CloseDropDown"></span>
          </button>
        </span>
      </div>
  </nav>


  <div class="dropdown d-block d-lg-none navbar-header col-12 ">
    <button class="btn dropdown-toggle w-100 p-3 shaddow_button design_placeholderMenu" type="button"
      id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
        text-transform: none;
        text-align: left;
        font-size: 1rem;
        letter-spacing: 0px;
        font-weight: 400;
        font-family: Source Sans Pro, sans-serif;
      ">
      {{ .Title }} <i class="icon-expand_more"></i>
    </button>
    <div class="dropdown dropdown-menu w-100" aria-labelledby="dropdownMenuButton" id="dropdown-menu-documentation"
      style="overflow-y: scroll;
      overflow-x: hidden;
      height: 83vh;">

    </div>
  </div>
</div>
<div>
  <div id="searchResultBlock" class="search-result-block" >
    <div  class="search-result-not-found">
      <p>
        We couldn’t find anything that matched your searched term
      </p>
    </div>
    <div  class="search-result-found">
      <ul class="list-group list-group-flush">
            <li class="list-group-item" id="result-pages">
              <p class="result-title">PAGES</p>
              <div>
              </div>
            </li>
            <li class="list-group-item" id="result-components">
              <div>
                <p class="result-title">COMPONENTS</p>
              </div>
            </li>
  
            <li class="list-group-item" id="result-designs">
              <div>
                <p class="result-title">Brand guidelines</p>
              </div>
            </li>
  
            <li class="list-group-item" id="result-articles">
              <div>
                <p class="result-title">Insights</p>
              </div>
            </li>
        </ul>
    </div>
  </div>
</div>


<div class="navbar-mask" style="z-index: 1;">
</div>