
<!-- OneTrust Cookies Consent Notice start for designsystem.axa.com -->
<script
  type="text/javascript"
  src="https://cdn.cookielaw.org/consent/1e50b4fb-de4c-448e-975b-14132c7fc3a5/OtAutoBlock.js"
></script>
<!--
<script
  src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"
  data-document-language="true"
  type="text/javascript"
  charset="UTF-8"
  data-domain-script="1e50b4fb-de4c-448e-975b-14132c7fc3a5"
></script> -->

<script type="text/javascript">
  function OptanonWrapper() {}
</script>

<!-- OneTrust Cookies Consent Notice end for designsystem.axa.com -->