<div class="container-lib m-auto px-5 pt-7 ">
    <h3 class="text-muted" >{{ .Params.section }} </h3>
    <h1 class="display-3 py-3 text-capitalize w-50" id="titlecomponent"> </h1>
</div>
 
{{ if not .Params.disableUseCase }}

<ul class="nav h3 w-100 border-top mb-6">
    <li class="nav-item w-50">
        <a class="nav-link" id="selection_{{ .Params.menuSlug }}-guidelines" href="#" onclick="displayGuidelines('{{ .Params.menuSlug }}')">Design guidelines</a>
    </li>
    <li class="nav-item w-50">
        <a class="nav-link active" id="selection_{{ .Params.menuSlug }}-tech" href="#" onclick="displayTechDoc('{{ .Params.menuSlug }}')">Implementation</a>
    </li> 
</ul>

{{ end }}

<div class="col-md-9" id="content">

    <div id="foundations_{{ .Params.menuSlug }}-tech" class="px-5 container-lib m-auto"> 
        <p class="lead"> {{ with .Params.description }}{{ . | safeHTML }}{{ end }}</p>
        {{ if .Params.bootstrapRef }} 
        {{ end}} {{.Content}} 
    </div> 

    <div id="foundations_{{ .Params.menuSlug }}-guidelines" class="px-5 container-lib m-auto">
    </div>

</div>

{{ if not .Params.disableUseCase }}
    <script>
        document.addEventListener("DOMContentLoaded", function() { displayGuidelines('{{ .Params.menuSlug }}') })
    </script>
{{ end }}