 {{ $index := resources.Get "scss/index.scss"  | toCSS   }}  
<link href="{{ $index.Permalink | relURL }}" rel="stylesheet">

{{- $axaDesignSystemFonts := resources.Get "scss/axaDesignSystemFonts.scss" | toCSS -}}  
<link href="{{ $axaDesignSystemFonts.Permalink | relURL }}" rel="stylesheet">

{{ $axaIconFont := resources.Get "scss/axaIconFont.scss"  | toCSS  }} 
<link href="{{ $axaIconFont.Permalink | relURL }}" rel="stylesheet">
  
{{ $prism := resources.Get "css/prism.css"   }} 
<link href="{{ $prism.Permalink | relURL }}" rel="stylesheet">

<style>
    .components-page .items-number {
        position : absolute ; 
        top : 0 ; 
        right : 0 ; 
        font-weight: 600;
        color: #757575;
    }

    .components-page .component-img {
      width : 100%
    }

    .components-page .card-title {
        font-family: 'Publico Headline';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
    }

    .components-page .shadowbox {
        transition: box-shadow .3s;  
        border-radius:10px; 
        background: #fff;
        float: left;
  
    }
    .components-page .shadowbox a {
      color : inherit;
    }
    .components-page .shadowbox p {
      font-weight:600
    }
    p{
      margin-bottom: 32px;
    }
    .btn-copy{
      float:right;
       
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      font-family: 'Source Sans Pro';
    }

</style>